/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif, sans-serif;
    font-weight: 100;
    line-height: 1.7rem;
    background-image:url("assets/images/uzay7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   min-width: 393px; /*new*/
}

h1{
    background-color:rgb(245, 244, 244);
}